{% extends "base.twig" %}

{% block content %}
  <article class="page-content boulders-post">
    <header class="boulders-post__header">
      <div class="container">
        <h1>{{post.post_title}}</h1>
      </div>
    </header>
    <main class="boulders-post__content">
      <div class="container">
        <div class="boulders-post__date">
          <p>Posted on: {{post.post_date|date('F j, Y')}}</p>
        </div>
        {{post.content}}
        {% set tagged_prods = carbonize(post, 'related_products', 'association') %}
          {% if tagged_prods %}
          <div class="boulders-post__post-prods">
              {% for product in tagged_prods %}
              <a href="{{function('get_the_permalink', product.id)}}" class="product-pill product-pill--{{function('wp_get_post_terms', product.id, 'brand')[0].slug}}">{{function('get_post', product.id).post_title}}</a>
              {% endfor %}
          </div>
          {% endif %}
      </div>
    </main>
    <footer class="boulders-post__footer">
      <div class="container">
        <a href="{{function('get_the_permalink', prev_post)}}" class="btn-flat{% if not prev_post %} disabled{% endif %}">&#8592; Previous Post</a>
        <a href="/blog/" class="btn-flat">View All Posts</a>
        <a href="{{function('get_the_permalink', next_post)}}" class="btn-flat{% if not next_post %} disabled{% endif %}">Next Post &#8594;</a>
      </div>
    </footer>
  </article>
{% endblock %}
